{% extends 'base.html' %}
<!--the above line extends the html by specifing the base HTML to use.
If this page is called by the python code, then this page will call the
extend to base.html then the below values will be extended to the base.html -->



{% block head %}
<title>Task Master</title>
{% endblock %}



{% block body %}
<div class="content">
    <h1>Update Task</h1>



    <form action="/update/{{task.id}}" method="POST">
        <input type="text" name="content" id="content" value="{{task.content}}">
        <input type="submit" value="Update">
    </form>
</div>
{% endblock %}